@model List<DHGame.Entity.DHWebSiteDB.Modules>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <title>导航菜单管理</title>
    <link href="/Content/admin.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/forms.func.js"></script>
    <script type="text/javascript" src="/Scripts/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="/Scripts/common.js"></script>
    @*<script type="text/javascript">
        function test() {
            //return false;
            return confirm("确定删除吗?");
            return Alert.confirm("确定删除吗?", function () { return true; });
        }
        var orderBuy = new Object({
            del: function (id) {
                Alert.confirm('确定删除吗?', orderBuy.surePay(id));
            },
            surePay: function (id) {
                if (!flagOn) return;
                flagOn = false;
                $.ajax({
                    type: "GET",
                    url: "/Modules/BuyVip",
                    //data: data,
                    dataType: "json",
                    beforeSend: function () {
                        banksafeAlert.loding('购买中...');
                    },
                    success: function (result) {
                        flagOn = true;
                        layer.closeAll('loading');
                        if (result.Err == "ok") {
                            banksafeAlert.sureAlert('购买成功', orderBuy.gotoUrl);
                        }
                        else {
                            banksafeAlert.alert(result.Err);
                        }
                    },
                    error: function (e) { flagOn = true; }
                });
            },
            gotoUrl: function () {
                window.location.href = '/RedPacket/Index';
            }
        });
    </script>*@
</head>
<body>
    <div class="topToolbar"> <span class="title">模块管理</span> <a href="javascript:location.reload();" class="reload">刷新</a></div>
    <form name="form" id="form" method="post" action="">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
            <tr align="left" class="head">
                <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid" onclick="CheckAll(this.checked);" /></td>
                <td width="3%">ID</td>
                <td width="22%">栏目名称</td>
                <td width="5%">控制器</td>
                <td width="5%">视图</td>
                <td width="20%" align="center">排序</td>
                <td width="32%" class="endCol">操作</td>
            </tr>
        </table>
         @*@ViewBag.TreeHtml*@
        @Html.Raw(ViewBag.TreeHtml)
        @*<div rel="rowpid_0">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="2" /></td>
                    <td width="3%">2					<input type="hidden" name="id[]" id="id[]" value="2" /></td>
                    <td width="22%"><span class="minusSign" id="rowid_2" onclick="DisplayRows(2);">关于我们</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=2&parentid=0&orderid=1" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="1" />
                        <a href="infoclass_save.php?action=down&id=2&parentid=0&orderid=1" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=0&id=2">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=2&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=2">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=2" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_2">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="3" /></td>
                    <td width="3%">3					<input type="hidden" name="id[]" id="id[]" value="3" /></td>
                    <td width="22%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">关于我们摘要</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=3&parentid=2&orderid=3" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="3" />
                        <a href="infoclass_save.php?action=down&id=3&parentid=2&orderid=3" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=0&id=3">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=3&checkcheckinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=3">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=3" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_2">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="12" /></td>
                    <td width="3%">12					<input type="hidden" name="id[]" id="id[]" value="12" /></td>
                    <td width="22%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="subType">关于我们摘要1</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=3&parentid=2&orderid=3" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="3" />
                        <a href="infoclass_save.php?action=down&id=3&parentid=2&orderid=3" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=0&id=3">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=3&checkcheckinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=3">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=3" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_0">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="1" /></td>
                    <td width="3%">1					<input type="hidden" name="id[]" id="id[]" value="1" /></td>
                    <td width="22%"><span class="minusSign" id="rowid_1" onclick="DisplayRows(1);">网站公告</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=1&parentid=0&orderid=2" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="2" />
                        <a href="infoclass_save.php?action=down&id=1&parentid=0&orderid=2" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=0&id=1">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=1&checkinfo=false" title="点击进行显示与隐藏操作">隐藏</a></span> | <span><a href="infoclass_update.php?id=1">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=1" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_0">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="4" /></td>
                    <td width="3%">4					<input type="hidden" name="id[]" id="id[]" value="4" /></td>
                    <td width="22%"><span class="minusSign" id="rowid_4" onclick="DisplayRows(4);">新闻动态</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=4&parentid=0&orderid=4" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="4" />
                        <a href="infoclass_save.php?action=down&id=4&parentid=0&orderid=4" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=1&id=4">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=4&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=4">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=4" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_0">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="5" /></td>
                    <td width="3%">5					<input type="hidden" name="id[]" id="id[]" value="5" /></td>
                    <td width="22%"><span class="minusSign" id="rowid_5" onclick="DisplayRows(5);">产品展示</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=5&parentid=0&orderid=5" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="5" />
                        <a href="infoclass_save.php?action=down&id=5&parentid=0&orderid=5" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=2&id=5">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=5&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=5">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=5" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_5">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="6" /></td>
                    <td width="3%">6					<input type="hidden" name="id[]" id="id[]" value="6" /></td>
                    <td width="22%">&nbsp;&nbsp;<span class="subType">笔记本电脑</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=6&parentid=5&orderid=6" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="6" />
                        <a href="infoclass_save.php?action=down&id=6&parentid=5&orderid=6" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=2&id=6">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=6&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=6">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=6" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_5">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="7" /></td>
                    <td width="3%">7					<input type="hidden" name="id[]" id="id[]" value="7" /></td>
                    <td width="22%">&nbsp;&nbsp;<span class="subType">智能手机</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=7&parentid=5&orderid=7" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="7" />
                        <a href="infoclass_save.php?action=down&id=7&parentid=5&orderid=7" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=2&id=7">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=7&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=7">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=7" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_0">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="8" /></td>
                    <td width="3%">8					<input type="hidden" name="id[]" id="id[]" value="8" /></td>
                    <td width="22%"><span class="minusSign" id="rowid_8" onclick="DisplayRows(8);">成功案例</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=8&parentid=0&orderid=8" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="8" />
                        <a href="infoclass_save.php?action=down&id=8&parentid=0&orderid=8" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=2&id=8">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=8&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=8">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=8" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_0">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="9" /></td>
                    <td width="3%">9					<input type="hidden" name="id[]" id="id[]" value="9" /></td>
                    <td width="22%"><span class="minusSign" id="rowid_9" onclick="DisplayRows(9);">联系我们</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=9&parentid=0&orderid=9" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="9" />
                        <a href="infoclass_save.php?action=down&id=9&parentid=0&orderid=9" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=0&id=9">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=9&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=9">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=9" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_9">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="10" /></td>
                    <td width="3%">10					<input type="hidden" name="id[]" id="id[]" value="10" /></td>
                    <td width="22%">&nbsp;&nbsp;<span class="subType">联系我们摘要</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=10&parentid=9&orderid=10" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="10" />
                        <a href="infoclass_save.php?action=down&id=10&parentid=9&orderid=10" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=0&id=10">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=10&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=10">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=10" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>
        <div rel="rowpid_0">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="dataTable">
                <tr align="left" class="dataTr">
                    <td width="5%" height="36" class="firstCol"><input type="checkbox" name="checkid[]" id="checkid[]" value="11" /></td>
                    <td width="3%">11					<input type="hidden" name="id[]" id="id[]" value="11" /></td>
                    <td width="22%"><span class="minusSign" id="rowid_11" onclick="DisplayRows(11);">软件下载</span></td>
                    <td width="5%">控制器</td>
                    <td width="5%">视图</td>
                    <td width="20%" align="center">
                        <a href="infoclass_save.php?action=up&id=11&parentid=0&orderid=11" class="leftArrow" title="提升排序"></a>
                        <input type="text" name="orderid[]" id="orderid[]" class="inputls" value="11" />
                        <a href="infoclass_save.php?action=down&id=11&parentid=0&orderid=11" class="rightArrow" title="下降排序"></a>
                    </td>
                    <td width="32%" class="action endCol"><span><a href="infoclass_add.php?infotype=3&id=11">添加子栏目</a></span> | <span><a href="infoclass_save.php?action=check&id=11&checkinfo=true" title="点击进行显示与隐藏操作">显示</a></span> | <span><a href="infoclass_update.php?id=11">修改</a></span> | <span class="nb"><a href="infoclass_save.php?action=delclass&id=11" onclick="return ConfDel(2);">删除</a></span></td>
                </tr>
            </table>
        </div>*@

    </form>
    <div class="bottomToolbar"> 
    <span class="selArea">
        <span>选择：</span> 
        <a href="javascript:CheckAll(true);">全部</a> - 
        <a href="javascript:CheckAll(false);">无</a> 
        @*- <a href="javascript:void(0);;" onclick="return ConfDelAll(1);">删除</a>*@　
        <span>操作：</span>
        @*<a href="javascript:void(0);">排序</a>  -*@ 
        <a href="javascript:ShowAllRows();">展开</a>  - 
        <a href="javascript:HideAllRows();">隐藏</a>
    </span>
        <a href="/Modules/Create/-1" target="_self" class="dataBtn">添加菜单模块</a> 
    </div>
    <div class="page">
        <div class="pageText">共有<span>@Model.Count</span>条记录</div>
    </div>

    <div class="quickToolbar">
        <div class="qiuckWarp">
            <div class="quickArea">
                <span class="selArea"><span>选择：</span> <a href="javascript:CheckAll(true);">全部</a> - <a href="javascript:CheckAll(false);">无</a> - <a href="javascript:SubUrlParam('infoclass_save.php?action=delallclass');" onclick="return ConfDelAll(1);">删除</a>　<span>操作：</span><a href="javascript:UpOrderID('infoclass_save.php');">排序</a> - <a href="javascript:ShowAllRows();">展开</a> - <a href="javascript:HideAllRows();">隐藏</a></span> <a href="infoclass_add.php" class="dataBtn">添加网站栏目</a><span class="pageSmall">
                    <div class="pageText">共有<span>13</span>条记录</div>
                </span>
            </div>
            <div class="quickAreaBg"></div>
        </div>
    </div>

</body>
</html>
