@model DHGame.WebAdmin.Models.RolesModel
@{
    ViewBag.Title = "Create";
    Layout = null;
}
<div class="pageContent">
    <form method="post" action="/Roles/Create" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layouth="56">
            <p>
                <label>Id：</label>
                <input name="Id" type="text" size="30" value="" readonly="readonly" />
            </p>
            <p>
                <label>角色名称：</label>
                <input name="RoleName" class="required" type="text" size="30" value="" alt="请输入角色名称" maxlength="30" />
            </p>
            <p>
                <label>描述：</label>
                <input name="RoleDesc" class="required" type="text" size="30" value="" alt="请填写描述信息" maxlength="100" />
            </p>
            <p>
                <label>是否停用：</label>
                <label>
                    <input type="radio" name="Nullity" value="false" checked="checked" />正常
                    <input type="radio" name="Nullity" value="true"  />停用
                </label>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>
