@model List<DHGame.Entity.DHWebSiteDB.RolesPermission>
@{
    Layout = null;
}
<div class="accordion" fillspace="sidebar">
    @foreach (var item in Model)
        {
            if (item.Modules.ParentId == ViewBag.ModuleId)
            {
                <div class="accordionHeader">
                    <h2><span>Folder</span>@item.Modules.Title</h2>
                </div>
                <div class="accordionContent">
                    <ul class="tree treeFolder">
                        @foreach (var itemChild in Model.Where(p => p.Modules.ParentId == item.Modules.Id))
                        {
                            <li><a href="/@itemChild.Modules.Controller/@itemChild.Modules.Action" target="navTab" @itemChild.Modules.Style rel="@(itemChild.Modules.Controller)@(itemChild.Modules.Action)">@itemChild.Modules.Title</a></li>
                        }
                    </ul>
                </div>
            }
        }
</div>
